.nav-container {
    color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav-left p {
    font-weight: 700;
    font-size: 1.25rem;
    color: #2563EB;
  }
  .nav-left span {
    color: black;
  }
  .nav-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #374151;
    padding: 0 0.5rem;
  }
  .nav-right{
    display: flex;
    gap: 1rem;
    align-items: center;
  }